.colorletra{
    color: rgb(252, 0, 0);
}

.div{
    text-align: center;
    font-size: 50%;
    background-color: rgba(1, 1, 1, 0.5) ;
    margin: 3%;
    width: 29%;
    height: 70%;
    padding: 1%;
    border-radius: 5%;
    
}

.div1{
    font-size: 35.5%;
    background-color: rgba(1, 1, 1, 0.5) ;
    margin: 3%;
    width: 29%;
    height: 35%;
    padding: 1%;
    border-radius: 5%;
}
.borde{
    border: 5px snow solid;
}

.mirage{
    position: absolute;
      top: 0%;
      right: 0%;
      width: 30%;
      height: 25%;
}

.tamañoletra{
    font-size: 300%;
}    
.tamañoletra1{
    font-size: 250%;
}

.h4{
    font-size: 250%;
}

.h5{
    position: center;
    right: 0px;
}

.form{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 1%;
    width: 14%;
    height: 10%;
    padding: 1%;
}

.video{
  position: absolute;
  right: 36%;
  top: 155%;

}

.publicidad{
    position: absolute;
    right: 0%;
    top: 60%;

}
